(Problem PRM_NUM)[http://projecteuler.net/index.php?section=problems&id=PRM_NUM]

problem
-------
put problem text here

> module Problem0PRM_NUM where
> import List

solution
--------

> answerProblemPRM_NUM = 1
> testProblemPRM_NUM = 0 == answerProblemPRM_NUM
